*{
    margin: 0;
    padding: 0;
    /* margin-left: 25%; */
    box-sizing: border-box;
}

#kasetcontainer{
    width: 96%;
    margin: auto;
    /* border: 2px solid black; */
    /* margin-left: 55%; */
    margin: auto;
    padding: 15px 0px;
}

#kasetcontainer>span{
    font-weight: bold;
    font-size: 20px;
}
#kasetcontainer>p{
    font-size: 17px;
    margin: 10px 0px 0px;
}
.inputconka{
    display: grid;
    /* width: 85%; */
    /* margin-left: 15%; */
    margin: auto;
    grid-template-columns: repeat(2,calc(50% - 10px));
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    margin: 15px 0px  ;
    /* margin-left: 20%; */
    padding: 20px;
    background: white;
}
.inputconka>div>input{
    width: 98%;
    padding: 7px 10px;
    margin-top: 5px;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(222, 218, 218);
}
.inputconka>div>input:hover{
    border: 1px solid skyblue;
}
.inputconka>div>#country{
    width: 98%;
    padding: 7px 8px;
    margin-top: 5px;
    border-radius: 7px;
    outline: none;
    border: 1px solid rgb(222, 218, 218);
}
#kaemail{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    margin: 19px 0px;
    padding: 20px;
    background: white;
}

#kaemail>div>input{
    width: 38rem;
    padding: 7px 10px;
    margin-top: 5px;
    border-radius: 7px;
    outline: none;
    border: 1px solid gray;
}
#kaemail>div>input:hover{
    border: 1px solid skyblue;
}
#btn{
    color: white;
    background-color: #4c83ee;
    padding: 12px 18px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
}
::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background: #1A2E44;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: var(--color-lightgreen);
}