.table-responsive>tr{
    border: 2px solid black;
}
#nsMain{
    display: flex;
    width: 78%;
    margin: auto;
    padding: 10px;
    top: 0;
}
#nsSidebar{
    width: 25%;
    height:fit-content;
    position: sticky;
    top: 60px;
    
    padding: 25px 0 25px 0;
    border-radius: 15px;
    border: 1px solid rgb(235, 225, 225);
   
}
.lwptoc_itemWrap{ 
    margin-left: -40px;
    
 }
#nsContent{
    width: 70%;
    margin: auto;
    
   
}
body{
    scroll-behavior:smooth;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

section span{
    font-size: 20px;
    font-weight: bold;
    color: #202C45;
}
#nsSidebar ul{
    list-style: none ; 
    
}
section{
    line-height: 1.5;
}
#nsSidebar ul li{
    margin-top: 0.5rem!important;
}

* {
    scroll-margin-top: 6rem;
}
.lwptoc_title{
    margin-left: 49px;
    
    font-size: 20px;
    font-weight: 600;
    
}

section p,ul,ol{
    font-weight: 400;
    color: #202c45;
    text-align: left;
    font-size: 13px;
    margin: 19.5px,0,0;
    font-family: Inter,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
#nsSidebar a:hover{
    transition: 0.3s;
    color: #22D172;
}
#nsSidebar a.active:hover{
    color: #22D172;
    transition: 0.3s
}
#nsSidebar a.active{
    color: #081c4bf2;
    border-left: 2.8px solid #22D172;
    transition: 0.3s
}

.lwptoc_item{
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size:12.6px ;
    line-height: 21.42px;
    text-align: left;
    letter-spacing: normal;
    color: #202c45;
}
section p{
    font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 23.8px;
    letter-spacing: normal;
    font-size: 14px;
    color: #202c45;
}
section a{
    text-decoration: none;
    color: #4C83EE;
}
#nsSidebar a{
    display: block;
    font-size: 13px;
    padding-left:60px;
    
    color: #0f243b;
    text-decoration: none;
    font-weight: 500;
    line-height: 1.75;
}

.wp-block-table div{
    margin-bottom: 0;
    display: block;
    width: 100%;
    overflow-x: auto;
    border: 1px solid rgb(235, 225, 225);
}
td{
    padding: 8px;
    text-align: left;
    letter-spacing: normal;
    font-size: 12px;
    line-height: 19.5px;
    color: #97999b;
}

th {
    text-align: inherit;
    display: table-cell;
    border-spacing:0 ;
    text-indent: initial;
    font-weight:bold ;
    width:48%;
    padding: 17px;
    border: 1px solid rgb(235, 225, 225);
}

.wp-block-table{
    display: block;
    width: 100%;
    margin-top: 3em;
    margin-bottom: 3em;
    margin: 0 0 1em;
    padding: 0 ; 
    border: 0 ; 
    outline: 0;
    font-size: 100% ; 
    text-align: left;   
    background:transparent ;  

}

::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb{
	background: #1A2E44;
	border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
	background: var(--color-lightgreen);
}